@import "tailwindcss";

@theme {
  --color-background: #09090b;
  --color-surface: #18181b;
  --color-primary: #3b82f6;
  --color-accent: #8b5cf6;
  --color-success: #22c55e;
  --color-danger: #ef4444;
  --color-warning: #eab308;

  --font-sans: Inter, sans-serif;

  --animate-scan: scan 2s linear infinite;
  --animate-pulse-slow: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;

  @keyframes scan {
    0% {
      top: 0%;
    }

    100% {
      top: 100%;
    }
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-surface);
}

::-webkit-scrollbar-thumb {
  background-color: #52525b;
  /* zinc-600 */
  border-radius: 9999px;
}

body {
  background-color: var(--color-background);
  color: white;
  -webkit-font-smoothing: antialiased;
}